main {
    text-align: center;
    padding: 40px 20px;
}

.rules-container {
    overflow: hidden;
    width: 1522px;
    margin: 0 auto;
    border: 2px solid;
    padding: 20px;
    contain: paint;
}

.rules-wrapper {
    display: inline-flex;
    gap: 35px;
    position:sticky
}

.rules {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    width: 340px;
    padding: 10px;
}

.rules h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 65px;
    text-align: center;
}

.rules ul {
    padding: 0;
    list-style-position: inside;
    font-size: 25px;
}

.rules ul li {
    margin: 30px 0;
}