main {
    text-align: center;
    width: 1522px;
    height: 1517px;
    padding: 40px 20px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #00000000;
}
.drag1 {
    width: 328px;
    height: 462px;
    background-image:url(Img/drag_1.png);
    position: absolute;
    left: 1148px;
    top: 625px;
}

.drag2 {
    width: 450px;
    height: 559px;
    background-image:url(Img/drag_2.png);
    position: absolute;
    left: -27px;
    top: 314px;
}

.drag3 {
    width: 454px;
    height: 403px;
    background-image:url(Img/drag_3.png);
    position: absolute;
    left: 776px;
    top: 275px;
}

.drag4 {
    width: 395px;
    height: 663px;
    background-image:url(Img/drag_4.png);
    position: absolute;
    left: -28px;
    top: 876px;
}

.drag5 {
    width: 340px;
    height: 411px;
    background-image:url(Img/drag_5.png);
    position: absolute;
    left: 457px;
    top: 213px;
}

.drag6 {
    width: 337px;
    height: 330px;
    background-image:url(Img/drag_6.png);
    position: absolute;
    left: 770px;
    top: 203px;
}

.drag7 {
    width: 449px;
    height: 412px;
    background-image:url(Img/drag_7.png);
    position: absolute;
    left: 1496px;
    top: 488px;
}

.drag8 {
    width: 630px;
    height: 543px;
    background-image:url(Img/drag_8.png);
    position: absolute;
    left: 631px;
    top: 571px;
}

.drag9 {
    width: 412px;
    height: 466px;
    background-image:url(Img/drag_9.png);
    position: absolute;
    left: 1069px;
    top: 342px;
}

.drag10 {
    width: 466px;
    height: 626px;
    background-image:url(Img/drag_10.png);
    position: absolute;
    left: 1143px;
    top: 769px;
}

.drag11 {
    width: 284px;
    height: 669px;
    background-image:url(Img/drag_11.png);
    position: absolute;
    left: 1649px;
    top: 1010px;
}

.drag12 {
    width: 637px;
    height: 567px;
    background-image:url(Img/drag_12.png);
    position: absolute;
    left: 487px;
    top: 602px;
}

.drag13 {
    width: 626px;
    height: 404px;
    background-image:url(Img/drag_13.png);
    position: absolute;
    left: 752px;
    top: 888px;
}

.drag14 {
    width: 416px;
    height: 547px;
    background-image:url(Img/drag_14.png);
    position: absolute;
    left: 839px;
    top: 1122px;
}

.drag15 {
    width: 480px;
    height: 604px;
    background-image:url(Img/drag_15.png);
    position: absolute;
    left: 982px;
    top: 1034px;
}

.drag16 {
    width: 520px;
    height: 550px;
    background-image:url(Img/drag_16.png);
    position: absolute;
    left: 894px;
    top: 1269px;
}

.drag17 {
    width: 714px;
    height: 340px;
    background-image:url(Img/drag_17.png);
    position: absolute;
    left: 306px;
    top: 1354px;
}
